<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <title>Bar Trivia</title>
  <div class="container">
    <div class="jumbotron">
      <h1>Trivia Game</h1>
    </div>
  </div>

  </div>
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->

  <!-- inject:css -->
  <!-- endinject -->
</head>

<body ng-controller="TriviaController as triviaCtrl">

  <!-- Get/Create Questions -->
  <button ng-click="triviaCtrl.retrieve()" type="submit" class="btn btn-primary"> Retrieve Questions </button>
  <button ng-click="triviaCtrl.questionPop()" type="submit" class="btn btn-primary"> Populate Questions </button>


  <!-- Show Answers/Questions -->
  <p class="list">{{triviaCtrl.currentQuestion.question}}</p>
  <p class="list">{{triviaCtrl.answers.CorrectAnswer}}</p>
  <p class="list">{{triviaCtrl.answers.IncorrectAnswer}}</p>


  <!-- Cycle Questions -->

  <div class="container-fluid">
    <div class="row">
      <button type="submit" ng-click="triviaCtrl.next()" class="btn btn-success">Next Question</button>
      <button type="submit" ng-click="triviaCtrl.back()" class="btn btn-warning">Previous Question</button>
    </div>
  </div>

  <p>{{triviaCtrl.currentIndex}}</p>

  <!-- Expected Beer Info -->

  <button type="submit" ng-click="triviaCtrl.beerInfo()" class="btn btn-info">Find Me Beer</button>
  <button type="submit" ng-click="triviaCtrl.beerPop()" class="btn btn-info">Give Me Beer</button>
  <p>{{triviaCtrl.beer.name}}</p>
  <p>{{triviaCtrl.beer.abv}}</p>
  <p>{{triviaCtrl.beer.style}}</p>
  <p>{{triviaCtrl.beer.description}}</p>

  <!--<img src="triviaCtrl.beerInfo.label">-->

  <pre>{{triviaCtrl.beerResults|json}}</pre>

  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <script src="/app/app.js"></script>
  <script src="/app/trivia.controller.js"></script>
  <script src="/app/trivia.factory.js"></script>
  <!-- endinject -->
</body>

</html>